<div class="box">
        <div class="box-header post-info-wrapper">
            <span class="box-title">Comment</span>
        </div>
        <form class="post-body" id="comment-form">
            <textarea name="body-input" id="comment-input" class="text-input block input-border"></textarea>
            <button class="btn" id="comment-btn">Submit</button>
        </form>
</div>

<script src="/javascript/comment-submit.js"></script> 