<ul>
    {{#each posts as |post|}}
    <a href="/dashboard/edit-post/{{post.id}}">
    <li class="dashboard-post">
        <div class="post-info-wrapper">
            <span class="box-title">{{post.post_title}}</span><span class="post-date">{{format_date created_at}}</span>
        </div>        
    </li>
    </a>
    {{/each}}
    {{#unless posts}}
    <p class="display-message">You don't have any posts yet.</p>
    {{/unless}}
   <footer class="new-post-footer sticky-footer">
        <button id="new-post-btn">+ New Post</button>
    </footer>
</ul>

<script src="/javascript/dashboard.js"></script>