<div class="box">
    <div class="box-header post-info-wrapper">
        <span class="box-title">Create New Post</span>
    </div>
    <form class="post-body">
        <label for="title-input" class="block">Title</label>
        <input type="text" name="title-input" id="title-input" class="text-input block input-border">
        <label for="body-input" class="block">Content</label>
        <input type="text" name="body-input" id="body-input" class="text-input block input-border">
        <button class="btn" id="create-post-btn">Create</button>
    </form>
</div> 