{{#unless posts}}
    <p class="display-message">No posts yet. Sign up and make the first post on The Tech Blog!</p>
{{/unless}}
<ul>
    {{#each posts as |post|}}
    <li>
        <a href="/post/{{post.id}}">
            {{> post-info post}}
        </a>
    </li>
    {{/each}}
</ul>