<form class="box flex-column">
        <div class="box-header">
            <span class="box-title secondary-text">Login</span>
        </div>
        <label for="name-input" class="block">Username</label>
        <input type="text" name="name-input" class="text-input block">
        <label for="pass-input" class="block">Password</label>
        <input type="text" name="pass-input" class="text-input block">

</form> 