<div class="box">
    <div class="box-header highlight post-info-wrapper">
        <span class="box-title">Create New Post</span>
    </div>
    <form class="post-body" id="post-form">
        <label for="title-input" class="block">Title</label>
        <input type="text" name="title-input" id="title-input" class="text-input block input-border">
        <label for="body-input" class="block">Content</label>
        <textarea name="body-input" id="body-input" class="text-input block input-border"></textarea>
        <button class="btn" id="create-post-btn">Create</button>
    </form>
</div>

 <footer class="new-post-footer">
    <button id="new-post-btn">+ New Post</button>
</footer>

<script src="/javascript/dashboard.js"></script> 
<script src="/javascript/new-post.js"></script>
